.gals {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--col-primary-10);

	h4 {
		font-size: 1.1em;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.5rem;

		@media (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
		}

		li a {
			display: block;
			border-radius: 8px;
			overflow: hidden;

			img {
				width: 100%;
				aspect-ratio: 1;
				object-fit: cover;
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}
