---
import "./footer.scss";
import Sponsors from "../Sponsors/Sponsors.astro";
import { useContent } from "../../content/useContent.js";

const sponsors = await useContent({ source: "sponsors" });
---

<footer>
	<Sponsors items={sponsors} />
	<div class="content">
		<div class="wrapper">
			<div class="logo">
				<img src="/images/footer-logo-rch.png" alt="Rugby Champagne" />
			</div>
			<div class="social">
				<span>Seguinos</span>
				<ul class="social-buttons">
					<li><a class="fac" href="https://www.facebook.com/pages/Rugby-Champagne/326183933650" target="_blank" rel="noopener noreferrer"><i></i></a></li>
					<li><a class="twi" href="https://twitter.com/rugbych" target="_blank" rel="noopener noreferrer"><i></i></a></li>
					<li><a class="you" href="https://www.youtube.com/channel/UCg-drHKZzy1vmgQsAZwup6w" target="_blank" rel="noopener noreferrer"><i></i></a></li>
					<li><a class="ins" href="https://www.instagram.com/rugbychampagneok/" target="_blank" rel="noopener noreferrer"><i></i></a></li>
				</ul>
			</div>
			<div class="links">
				<ul>
					<li><a href="#">RCH Staff</a></li>
					<li><a href="#">Revistas</a></li>
					<li><a href="#">RCH Radio</a></li>
					<li><a href="#">Nuestra Historia</a></li>
					<li><a href="#">Newsletter Web</a></li>
					<li><a href="#">Newsletter Digital</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copy">
		<div class="wrapper">
			<p>&copy; {new Date().getFullYear()} Rugby Champagne - Buenos Aires, Argentina</p>
		</div>
	</div>
</footer>
