// Brand colors
$col-verdelogo: #00935c;
$col-azullogo: #0169b4;
$col-verde: #00ce81;
$col-azul: #0079b9;
$col-celeste: #4e98e6;

// Dark mode
$dark-bg: rgb(18, 21, 28);
$dark-card-bg: rgb(34, 40, 51);
$dark-primary: rgba(255, 255, 255, 0.8);

// Light mode
$light-bg: #f2f2f2;
$light-card-bg: #fff;
$light-primary: #333;
