// Typography
$font-inter: "Inter", sans-serif;
$font-inter-bold: "Inter", sans-serif;
$font-inter-black: "Inter", sans-serif;
$font-helvetica-condensedbold: "Helvetica Neue", "Arial Narrow", sans-serif;

$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;

// Breakpoints
$bp-sm: 450px;
$bp-md: 768px;
$bp-lg: 1000px;
$bp-xl: 1200px;

// Spacing
$wrapper-max-width: 1200px;
$wrapper-padding: 1.5rem;
